<h1>Team input</h1>
<form method="post" action="/add/team">
  <input name="teamname" type="text" placeholder="teamname" required>
  <input name="shorthandle" type="text" placeholder="shorthandle" required maxlength="4">
  <input name="logo" type="text" placeholder="logo.png" required>

  <button type="submit">Submit</button>
</form>
