<!DOCTYPE html>
<html>
<head>
  <title>R6 HUD</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--   <iframe allow="autoplay;camera" src="https://vdo.ninja/?view=7fDjacc&label=proba" width="1920" height="1080"></iframe> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <h1>Create new team</h1>
  <form method="post" action="/add/team">
    <input name="add_teamname" type="text" placeholder="teamname" required>
    <input name="add_shorthandle" type="text" placeholder="shorthandle" required maxlength="4" required>
    <input name="add_logo" type="text" placeholder="logo.png" required>

    <button type="submit">Create</button>
  </form>

  <h1>Edit existing team</h1>
  <form method="post" action="/edit/team">
    <select id="edit_team_list" name="edit_team_select">
      <% teams.forEach(function( eachTeam){ %>
          <option> <%= eachTeam %> </option>
      <% }) %>
    </select>
    <input type="hidden" id="edit_hidden" name="edit_index" value="">
    <input name="edit_teamname" type="text" placeholder="teamname" required>
    <input name="edit_shorthandle" type="text" placeholder="shorthandle" required maxlength="4" required>
    <input name="edit_logo" type="text" placeholder="logo.png" required>

    <button type="submit">Edit</button>
  </form>

  <h1>Delete team</h1>
  <form method="post" action="/delete/team">
    <select id="delete_team_list" name="delete_delete_select">
      <% teams.forEach(function( eachTeam){ %>
          <option> <%= eachTeam %> </option>
      <% }) %>
    </select>
    <input type="hidden" id="delete_hidden" name="delete_index" value="">

    <button type="submit">Delete</button>
  </form>

</body>

<script>

  $('#edit_team_list').on('change', function() {
    $('#edit_hidden').val(this.value);
    console.log(this.value);
  });

  $('#delete_team_list').on('change', function() {
    $('#delete_hidden').val(this.value);
    console.log(this.value);
  });


</script>

</html>
