<!DOCTYPE html>
<html>

<head>
  <title>R6 HUD ERROR</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--   <iframe allow="autoplay;camera" src="https://vdo.ninja/?view=7fDjacc&label=proba" width="1920" height="1080"></iframe> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="/css/general.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body>

  <h1>Something went wrong!</h1>
  <h2><%= error_message %></h2>

  <div class="linkek">
    <a href="/admin">GO TO ADMIN PAGE</a>
    <br>
    <br>
    <br>
    <br>
    <a href="/match_control">GO TO MATCH CONTROL</a>
  </div>


</body>

<script>

</script>

</html>
