<!DOCTYPE html>
<html>

<head>
  <title>R6 HUD INGAME</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/ingame.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body>

  <div class="ingame_insert0" style="background-image: url('https://i.imgur.com/JpQzJst.png'); z-index: 100;position:fixed;top:0px;bottom:0px;width:1920px;height:1080px;left:0px;"></div>
  <div class="ingame_insert1" style="background-image: url('https://i.imgur.com/JpQzJst.png'); z-index: 100;position:fixed;top:0px;bottom:0px;width:1920px;height:1080px;left:0px;"></div>

  <div id="container0" style="width: 276px; height: 181px; overflow: hidden">
    <iframe id="spec_pos0" frameBorder="0" style="position: relative" src=""></iframe>
  </div>

  <div id="container1" style="width: 276px; height: 181px; overflow: hidden">
    <iframe id="spec_pos1" frameBorder="0" style="position: relative" src=""></iframe>
  </div>

  <div id="container2" style="width: 276px; height: 181px; overflow: hidden">
    <iframe id="spec_pos2" frameBorder="0" style="position: relative" src=""></iframe>
  </div>
  <div id="container3" style="width: 276px; height: 181px; overflow: hidden">
    <iframe id="spec_pos3" frameBorder="0" style="position: relative" src=""></iframe>
  </div>

  <div id="container4" style="width: 276px; height: 181px; overflow: hidden">
    <iframe id="spec_pos4" frameBorder="0" style="position: relative" src=""></iframe>
  </div>

    <img id="spec_pos0_pic" src=""></img>
    <img id="spec_pos1_pic" src=""></img>
    <img id="spec_pos2_pic" src=""></img>
    <img id="spec_pos3_pic" src=""></img>
    <img id="spec_pos4_pic" src=""></img>

    <div id="container5" style="width: 276px; height: 181px; overflow: hidden">
      <iframe id="spec_pos5" frameBorder="0" style="position: relative" src=""></iframe>
    </div>
    <div id="container6" style="width: 276px; height: 181px; overflow: hidden">
      <iframe id="spec_pos6" frameBorder="0" style="position: relative;" src=""></iframe>
    </div>

    <div id="container7" style="width: 276px; height: 181px; overflow: hidden">
      <iframe id="spec_pos7" frameBorder="0" style="position: relative" src=""></iframe>
    </div>
    <div id="container8" style="width: 276px; height: 181px; overflow: hidden">
      <iframe id="spec_pos8" frameBorder="0" style="position: relative" src=""></iframe>
    </div>
    <div id="container9" style="width: 276px; height: 181px; overflow: hidden">
      <iframe id="spec_pos9" frameBorder="0" style="position: relative" src=""></iframe>
    </div>

      <img id="spec_pos5_pic" src=""></img>
      <img id="spec_pos6_pic" src=""></img>
      <img id="spec_pos7_pic" src=""></img>
      <img id="spec_pos8_pic" src=""></img>
      <img id="spec_pos9_pic" src=""></img>

</div>

</body>

<script>

$(document).ready(function(){

  $.ajax({
    url: "/fill/ingame",
    type: "POST",
    success: function(data) {
      for (var i = 0; i < data.length; i++) {
        $('#spec_pos' + i + '').prop('src', data[i].view_link + '&transparent&cover&cleanoutput?autoplay=on' );
        $('#spec_pos' + i + '_pic').prop('src', data[i].avatar);
        $('.ingame_insert1').css('opacity','0');
        $('.ingame_insert0').css('opacity','1');
        $('#spec_pos0').css('opacity','1');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','1');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
    }
  });

  const ws = new WebSocket("ws://localhost:6969");
  var insert_hidden = false;

  ws.addEventListener("open", () =>{
    console.log("Connected!");

    ws.onmessage = function(e){
      var server_message = e.data;
      console.log(server_message);
      if (server_message == "c") {
        $('body').css('opacity','1');
        insert_hidden = false;
      }
      else if (server_message == "x") {
        $('body').css('opacity','0');
        insert_hidden = true;
      }
      else if (server_message == "force_hide") {
        $('body').css('opacity','0');
        insert_hidden = true;
      }
      else if (server_message == "force_show") {
        $('body').css('opacity','1');
        insert_hidden = false;
      }
      else if (server_message == "reload_view") {
        location.reload();
      }
      else if (server_message == "select_pos0") {
        $('.ingame_insert1').css('opacity','0');
        $('.ingame_insert0').css('opacity','1');
        $('#spec_pos0').css('opacity','1');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','1');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos1") {
        $('.ingame_insert1').css('opacity','0');
        $('.ingame_insert0').css('opacity','1');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','1');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','1');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos2") {
        $('.ingame_insert1').css('opacity','0');
        $('.ingame_insert0').css('opacity','1');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','1');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','1');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos3") {
        $('.ingame_insert1').css('opacity','0');
        $('.ingame_insert0').css('opacity','1');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','1');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','1');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos4") {
        $('.ingame_insert1').css('opacity','0');
        $('.ingame_insert0').css('opacity','1');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','1');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','1');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos5") {
        $('.ingame_insert1').css('opacity','1');
        $('.ingame_insert0').css('opacity','0');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','1');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','1');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos6") {
        $('.ingame_insert1').css('opacity','1');
        $('.ingame_insert0').css('opacity','0');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','1');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','1');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos7") {
        $('.ingame_insert1').css('opacity','1');
        $('.ingame_insert0').css('opacity','0');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','1');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','1');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos8") {
        $('.ingame_insert1').css('opacity','1');
        $('.ingame_insert0').css('opacity','0');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','1');
        $('#spec_pos9').css('opacity','0');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','1');
        $('#spec_pos9_pic').css('opacity','0');
      }
      else if (server_message == "select_pos9") {
        $('.ingame_insert1').css('opacity','1');
        $('.ingame_insert0').css('opacity','0');
        $('#spec_pos0').css('opacity','0');
        $('#spec_pos1').css('opacity','0');
        $('#spec_pos2').css('opacity','0');
        $('#spec_pos3').css('opacity','0');
        $('#spec_pos4').css('opacity','0');
        $('#spec_pos5').css('opacity','0');
        $('#spec_pos6').css('opacity','0');
        $('#spec_pos7').css('opacity','0');
        $('#spec_pos8').css('opacity','0');
        $('#spec_pos9').css('opacity','1');
        $('#spec_pos0_pic').css('opacity','0');
        $('#spec_pos1_pic').css('opacity','0');
        $('#spec_pos2_pic').css('opacity','0');
        $('#spec_pos3_pic').css('opacity','0');
        $('#spec_pos4_pic').css('opacity','0');
        $('#spec_pos5_pic').css('opacity','0');
        $('#spec_pos6_pic').css('opacity','0');
        $('#spec_pos7_pic').css('opacity','0');
        $('#spec_pos8_pic').css('opacity','0');
        $('#spec_pos9_pic').css('opacity','1');
      }

    }

  });

});

</script>

</html>
